body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 72, 80);
}

#white {
  background-color: rgb(255, 252, 252);
  height: 10vh;
  width: 20vw;
  position: absolute;
  bottom: 60%;
  left: 25%;
}
#whiteTwo {
  background-color: rgb(255, 252, 252);
  height: 7vh;
  width: 15vw;
  position: absolute;
  bottom: 20%;
  left: 45%;
}
#name {
  bottom: 60%;
  position: absolute;
  left: 23%;
}
#date {
  font-weight: bolder;
  font-size: x-small;
  position: absolute;
  bottom: 23%;
  left: 49%;
}
